@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
body, html {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  font-family: 'Inter';
}

